


.active-all{
    top: 45%; 
}


*{
    /* outline: 1px solid #ccc; */
  
}

.primary-color{
    color: #D24B2B;
    color: rgb(210,75,43);
}
.secondary-color{
    color: #56B8A5;
    color: rgb(86, 184, 165);
    color: #F2EDD8;
    color: rgb(242, 237, 216);

    color: #1E1E1E;
    color: rgb(30, 30, 30);
    color: #E9CB66;
    color: #DFDFDF;
    color: #297377;
    
}

.text{
    width: 100vw;
    height: 300vh;
    background: #D24B2B;
}
/* .noise{
    width: 100%;
    height: 100%;
    background: url("./images/img-noise-300x300.png");
    mix-blend-mode: multiply;
    background-position: -1% -1%;
    animation: noise .5s infinite;
    opacity: .6;

}
@keyframes noise{
    0%{
        background-position: -1% -1%;
    }
    25%{
        background-position: -5% -51%;
    }
    50%{
        background-position: -1% -1%;
    }
    75%{
        background-position: 5% 5%;
    }
    100%{
        background-position: -1% -1%;
    }
    
} */

.iii{
    opacity: .6;
}
