.primary-color{
    color: #D24B2B;
    color: rgb(210,75,43);
}
.secondary-color{
    color: #56B8A5;
    color: rgb(86, 184, 165);
    color: #F2EDD8;
    color: rgb(242, 237, 216);;

    color: #1E1E1E;
    color: #E9CB66;
    
}